*{box-sizing: border-box;}

body {
  background-color: #001930;
  font-family: sans-serif;
  font-family: 'Roboto';
  color: #ffffff;
}

.container{
  margin: auto;
	display: block;
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 24px;
}

h2{
  font-size: 14px;
  font-style: italic;
}

li{
  background-color: #0F273C;
  border-bottom: solid #001930;
  padding-left: 5px;
}

.arriving{
    background-color: #405264;
}



/*Washington and State bar*/
.parentbar {
  width: 100%;
  padding: 8px;
  background-color: #ff5959;
  border-bottom: solid #001930;
  display: block;
}


.line2 {
  width: 31%;
  display: inline-block;
  border-left: 8%;
  line-height: 200%;
  margin-right: -6%;
}

.destination2{
  width: 56%;
  display: inline-block;
  line-height: 200%;
  margin-right: -3%;
}
.time2{
  width: 22%;
  display: inline-block;
  line-height: 200%;

  margin-right: -3%;
}


/*this is for anything larger than a mobile screen*/
@media all and (min-width: 575px)
{
  .container{
  	display: block;
      width: 100%;
  }

  .parentbar {
      width: 100%;
      background-color: #ff5959;
      display: block;
    }


    body {
      background-color: #001930;
      font-family: sans-serif;
      color: #ffffff;
      font-size: 24px;
    }

    h1 {
      font-size: 30px;
    }

    h2{
      font-size: 18px;
      font-style: italic;
    }



    }

}
