*{box-sizing: border-box;}

body {
  background-color: #001930;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 16px;
}

.container{
  margin: auto;
	display: block;
  width: 375px;

}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 24px;
}

h2{
  font-size: 16px;

}

li{
  border-bottom: 1px solid #444444;
}

/*Washington and State bar*/
.parentbar {
  width: 375px;
  padding: 8px;
  background-color: #ff5959;
  display: block;
}



.line2 {
  width: 22%;
  display: inline-block;
  padding: 2px 0 2px 8px;
  line-height: 200%;
}

.destination2{
  width: 56%;
  display: inline-block;
  padding: 2px 0 2px 8px;
  line-height: 200%;
}
.time2{
  width: 20%;
  display: inline-block;
  padding: 2px 0 2px 8px;
  margin-right: -2px;
  line-height: 200%;
}


/*this is for anything larger than a mobile screen*/
@media all and (min-width: 575px)
{
  .container{
  	display: block;
    width: 600px;
  }

  .parentbar {
      width: 600px;
      padding: 8px;
      background-color: #ff5959;
      display: block;
    }

    img {
      max-width: 600px;
      display: block;
    }

    body {
      background-color: #001930;
      font-family: sans-serif;
      color: #ffffff;
      font-size: 24px;
    }

    h1 {
      font-size: 30px;
    }

}
