*{box-sizing: border-box;}

body {
  background-color: #001930;
  font-family: sans-serif;
  color: #ffffff;
}

.container{
	display: block;
  width: 375px;

}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;;
}

h3 {
  font-size: 20px;
}

/*Eastbound etc*/
.direction{
padding: 4px 0 4px 8px;
color: #aaaaaa;
background-color: #0F273C;
margin-top: 4px;
margin-bottom: 4px;
margin-right: -1px;
}

/*Washington and State bar*/
.parentbar {
  width: 375px;
padding: 8px;
  background-color: #ff5959;
  display: block;
}


/*these are for the parents*/


.line {
  width: 17%;
  display: inline-block;
  padding: 8px 0px 2px 8px;
  background-color: #0F273C;
}

.destination{
  width: 42%;
  display: inline-block;
  padding: 8px 0px 2px 8px;
  background-color: #0F273C;
}
.time{
  width: 39%;
  display: inline-block;
  padding: 8px 0px 2px 8px;
  margin-right: -2px;
  background-color: #0F273C;
}




/*these are for the children*/


.line2 {
  width: 17%;
  display: inline-block;
  padding: 2px 0 2px 8px;
}

.destination2{
  width: 42%;
  display: inline-block;
  padding: 2px 0 2px 8px;
}
.time2{
  width: 39%;
  display: inline-block;
  padding: 2px 0 2px 8px;
  margin-right: -2px;
}
